@font-face {
  font-family: 'Lato';
  src: url("../font/Lato-Regular.ttf") format("truetype"); }
@font-face {
  font-family: 'Lato Black';
  src: url("../font/Lato-Black.ttf") format("truetype");
  font-weight: bold; }

html{
	font-family: 'Lato', sans-serif;
}

body{
	background: url('../img/bcg.png');
}

h1{
	font-family: "Lato Black";
	letter-spacing: 4px;
	margin: 50px 0;
	color: white;
	font-weight: 800;
	text-align: center;
	text-transform:uppercase;
}

canvas{
	display: block;
	margin: 20px auto;
}

::selection{
	background: transparent;
}
